{% extends 'tags/alltags.html' %}

{% block edit_tag %}

<div class="card rounded-lg border bg-light text-dark shadow col-md-3  p-2 m-0">
    <h5 class="text-dark text-center">EDIT Tag</h5>
    <form class="text-dark bg-light" method="POST">

        <div class="form-group col-sm-12 ">
            <label for="name" class="col-sm-12 col-form-label">Tag Name</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="name" name="name" value="{{tag.name}}" placeholder="Enter a tag name">
            </div>
        </div>
        <div class="form-group row form-check">
        {% for post in posts %}
        <div>
            <input class="form-input" type="checkbox" value="{{ post.id }}" id="post_{{ post.id }}" name="posts"
                {% if post in tag.posts %} checked {% endif %}>
            <label class="form-check-label" for="post_{{ post.id }}">{{ post.title }}</label>
        </div>
        {% endfor %}  
        <div class="form-group col-md-6">
            <div class="mr-auto mt-2">
                <button type="submit" class="btn btn-outline-success">CONFIRM EDIT</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
