{% extends 'users/details.html' %}

{% block post_show %}

<div class="row">
    <div class="card rounded-lg border bg-light shadow col-md-12 p-4 m-0">
        <div class="card-body text-dark">
            <h5 class="pb-2">{{ post.title }}</h5>
            <p> {{ post.content }} </p>
            <small>TAGS:
                {% for tag in post.tags %}
                <a href="/tags/{{ tag.id }}"><span class="badge badge-pill badge-primary col-sm-1">{{ tag.name }}</span></a>
                {% endfor %}
            </small>
            <p class="text-dark"><sup>By {{ post.user.full_name }} - {{ post.friendly_date }}</i></sup>

            <form>
                <button class="btn btn-sm btn-outline-primary custom" formmethod="GET" formaction="/users/{{ post.user_id }}">Cancel</button>
                <a class="btn btn-sm btn-outline-success text-success custom" href="/users/{{ user.id }}/posts/{{ post.id}}/edit">EDIT</a>      
                <button class="btn  btn-sm btn-outline-danger custom" formmethod="POST" formaction="/posts/{{ post.id }}/delete">Delete</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}