body {
    margin-bottom: 50px;
    margin: 0px auto;
}

.container {
    max-width: 95%;
    min-height: 400px;
    margin: 0px auto;
}

.custom {
    width: 100px !important;
}

.img {
    display: block;
    max-height: 40vh;
    object-fit: cover;
    object-position: 50% 50%;
}

.tags {
    display: inline;
}

a.card-link:hover {
    color: #0275d8 !important;
}

a.text-dark:hover {
    color: #0275d8 !important;
}

a.text-success:hover {
    color: lightGray !important;
}

.posts:hover {
    background-color: WhiteSmoke;
    transform: scale(1.05);
}