{% extends 'base.html' %}

{% block title %}{{ user.full_name }}{% endblock %}

{% block content %}
<div class="row m-5">
    <div class="card rounded-lg border col-md-3 p-0 m-0">
        <img src="{{user.image_url}}" class="card-img-top p-0 m-0" alt="USER IMAGE">
        <div class="card-body text-dark">
            <div class="row pb-1">
                <div class="col-sm-12">
                    <h5 class="card-title text-center">{{user.full_name()}}</h5>
                    <p class="card-text">First Name: {{user.first_name}}</p>
                    <p class="card-text">Last Name: {{user.last_name}}</p>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-sm-12">
                    <form>
                        <button class="btn btn-outline-primary btn-sm custom" formaction="/users/{{ user.id }}/edit" formmethod="GET">EDIT</button>
                        <button class="btn btn-outline-danger btn-sm custom" formaction="/users/{{ user.id }}/delete" formmethod="POST">DELETE</button>
                    </form>
                </div>
                <div class="offset-10 col-sm-12">
                    <a  href="/"><i class="text-dark far fa-times-circle" ></i></a>
                </div>
            </div>
        </div>
      </div>

</div>
  

{% endblock %}